<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="enable_visualization" default="true"/>

    <arg name="drone" default="$(find cem_vis_planner)/urdf/bebop.urdf" />
    <arg name="drone_name" default="quadrotor" />




    <arg name="drone_x" default="0"/>
    <arg name="drone_y" default="6"/>
    <arg name="drone_z" default="0"/>
    <arg name="drone_yaw" default="0"/>


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="headless" value="$(arg headless)"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>

    <include file="$(find bebop_gazebo)/launch/spawn_bebop.launch">
      <arg name="x" value="$(arg drone_x)"/>
      <arg name="y" value="$(arg drone_y)"/>
      <arg name="z" value="$(arg drone_z)"/>
      <arg name="Y" value="$(arg drone_yaw)"/>
    </include>



    <node pkg="tf" type="static_transform_publisher" name="bebop_trans" args="0.0 0 0 0 0 0 world odom 100"/>
    <node pkg="tf" type="static_transform_publisher" name="los_tf" args="0 0 0 0 0 0 world los 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_tf" args="0 0 0 0 0 0 world base 100" />

<group if="$(arg enable_visualization)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tracker)/config/simple_tracker.rviz" />

  </group>

</launch>